/* Général */

.logo {
    height: 115px;
}

body {
    /* font-family: , sans-serif; */
}

h1, h2, h3, h4, h5, h6, .description, .nav-item {
    font-family: 'Quicksand', sans-serif;
    word-wrap: break-word;
}

/* Menu */

.nav-item {
    max-block-size: 100%;
    text-align: center;
    padding: 0;
    display: flex;
    align-self: center;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid #f8f9fa;
    transition: .2s ease-in-out border-color;
}

.active .nav-accueil,
.nav-accueil:hover {
    border-color: #f9b428;
}

.active .nav-activite,
.nav-activite:hover {
    border-color: #982d47;
}

.active .nav-pratiques,
.nav-pratiques:hover {
    border-color: #abb018;
}

.nav-logo {
    display: none;
}

.nav-logo img {
    transition: .2s ease-in transform;
}

.nav-logo:hover img {
    transform: scale(1.15);
}

.nav-logo-mobile img {
    height: 50px;
}

.active .nav-actus,
.nav-actus:hover {
    border-color: #abb018;
}

.active .nav-gallerie,
.nav-gallerie:hover {
    border-color: #50c1e1;
}

.active .nav-contact,
.nav-contact:hover {
    border-color: #f9b428;
}

/* Video Header */

.video-container {
    padding: 0;
}

.video-header {
    max-width: 100%;
}

/* Thématique */

.thematique {
    padding: 30px 0 0;
}

.thematique .description {
    font-size: 1.3em;
    margin-bottom: 55px;
}

.bloc-container {
    padding: 0;
}

.bloc {
    padding: 40px;
    height: 640px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 0;
    background-position: center center;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .8);
}

.bloc:hover {
    transform: scale(1.05);
    z-index: 2;
    background-blend-mode: multiply;

}

.bloc h4 {
    font-size: 50px;
    text-align: center;
}

.bloc p {
    font-size: 20px;
}

.bloc-mer {
    background-image: url("../img/block-mer.jpg");
    background-color: #3c7bda;
}

.bloc-terre {
    background-image: url("../img/bloc-terre2.jpg");
    background-color: #2e9448;
}

.bloc-air {
    background-image: url("../img/bloc-air.jpg");
    background-color: #88e3f3;
}

.bloc-feu {
    background-image: url("../img/bloc-feu2.jpg");
    background-color: rgb(253, 83, 31);
}

/* Carte */

.carte h3 {
    padding: 50px 0;
    margin: 0;
}

.carte-container {
    background-image: url("../img/just-waves.png");
}

.carte-form {
    margin-top: 50px;
}

.carte-img {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.recherche-container {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow:  0 2px 15px rgba(79, 149, 240, 0.5);
}

/* Actualité */

.articles {
    padding: 0 0 65px 0;
}

.article {
    margin-bottom: 50px;
}

.articles .card:hover {
    transform: scale(1.05);
    z-index: 2;
    background-blend-mode: multiply;
}

.articles h3 {
    padding: 50px 0;
    margin: 0;
}

.articles.container {
    max-width: 1500px;
}

.articles .card {
    margin: 0 23px;
    transition: transform .2s ease-in-out;
}

.btn {
    color: #ffffff;
}

.btn:hover {
    background-color: #ffffff00;
}

.btn-primary-carte {
    background-color: rgb(99, 164, 238);
    border: 2px solid rgb(99, 164, 238);
}

.btn-primary-carte:hover {
    color:rgb(99, 164, 238);
}

.btn-primary1 {
    background-color: rgb(99, 164, 238);
    border: 2px solid rgb(99, 164, 238);
}

.btn-primary1:hover {
    color:rgb(99, 164, 238);
}

.btn-primary2 {
    background-color: rgb(167, 40, 99);
    border: 2px solid rgb(167, 40, 99);
}

.btn-primary2:hover {
    color:rgb(167, 40, 99);
}

.btn-primary3 {
    background-color: rgb(228, 181, 28);
    border: 2px solid rgb(228, 181, 28);
}

.btn-primary3:hover {
    color:rgb(228, 181, 28);
}

.btn-primary4 {
    background-color: rgb(109, 109, 109);
    border: 2px solid rgb(109, 109, 109);
}

/* AGENDA */

.agenda {
    margin-bottom: 50px;
}

.agenda.container {
    max-width: 1500px;
}

.agenda h3 {
    margin-bottom: 50px;
}

.card-evenement {
    display: flex;
    margin-bottom: 30px;
    transition: .1s ease-in transform;
}

.card-annee, .card-mois {
    font-size: 20px;
}

.card-evenement:hover {
    transform: scale(1.05);
}

.card-evenement .card {
    min-width: 50%;
}

.card-evenement .card-body {    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-evenement .card-date {
    border-radius: 5px 0 0 5px;
    border-right: 0;
    background-image: url("../img/fond-event-concert.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

.card-evenement .card-date-marchee {
    border-radius: 5px 0 0 5px;
    border-right: 0;
    background-image: url("../img/fond-event-marchee.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

.card-evenement .card-date-exposition {
    border-radius: 5px 0 0 5px;
    border-right: 0;
    background-image: url("../img/fond-event-exposition.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

.card-evenement .card-date-spectacle {
    border-radius: 5px 0 0 5px;
    border-right: 0;
    background-image: url("../img/fond-event-spectacle.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

.card-evenement .card-text {
    border-radius: 0 5px 5px 0;
}

.card-evenement h2 {
    font-size: 80px;
    font-weight: 800;
    line-height: 1.05;
}

.btn-primary-concert {
    background-color: rgb(228, 181, 28);
    border: 2px solid rgb(228, 181, 28);
}

.btn-primary-concert:hover {
    color:rgb(228, 181, 28);
}

.badge-concert {
    background-color: rgb(228, 181, 28);
    color: white;
}

.btn-primary-marchee {
    background-color: rgb(99, 164, 238);
    border: 2px solid rgb(99, 164, 238);
}

.btn-primary-marchee:hover {
    color:rgb(99, 164, 238);
}

.badge-marchee {
    background-color: rgb(99, 164, 238);
    color: white;
}

.btn-primary-exposition {
    background-color: rgb(111, 46, 128);
    border: 2px solid rgb(111, 46, 128);
}

.btn-primary-exposition:hover {
    color:rgb(111, 46, 128);
}

.badge-exposition {
    background-color:rgb(111, 46, 128);
    color: white;
}

.btn-primary-spectacle {
    background-color: rgb(158, 34, 34);
    border: 2px solid rgb(158, 34, 34);
}

.btn-primary-spectacle:hover {
    color:rgb(158, 34, 34);
}

.badge-spectacle {
    background-color: rgb(158, 34, 34);
    color: white;
}

/* Pied de page */

footer {
    background-color: #333333;
    color: #dadada;
    padding: 40px 0;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container img {
    margin-bottom: 15px;
}

footer .icon {
    font-size: 30px;
    color: #ffffff;
    margin-right: 10px;
    text-decoration: none;
}

.fa-facebook-official:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #e95950;
}

.fa-twitter:hover {
    color: #00aced;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-lien {
    color: #ffffff;
}

.footer-lien:hover {
    color: rgb(231, 186, 39);
    text-decoration:none ;
}

/* Autres */

.btn-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #333333;
    border-color: #333333;
}

.btn-up:hover {
    background-color: #fff;
    color: #333333;
    border-color: #333333;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

/* Responsive */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-logo {
        display: block;
    }

    .nav-logo-mobile {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carte-form {
        margin-bottom: 50px;
    }

    .article {
        margin-bottom: 0;
    }

    h3 {
        margin-bottom: 30px;
        font-size: 70px;
    }

    .nav-item {
        padding: 0 10px;
    }
    
    .nav-link {
        font-size: 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/*MEDIA QUERIES
----------------
@media handheld and (max-width: 768px), screen and (max-device-width: 768px), screen and (max-width: 768px) { 

body {
    margin: 0;
}
#mapcran {
    display: none;
}

#maptablette {
    display: block;
}

chercher media queries sur alsa creations

++ / dans html <meta name"viewport" content="width=device-width, initial-scale=1.0,
                shrink-to-fit=no">
    */