/* Général */

.logo {
    height: 115px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    margin-bottom: 30px;
    font-size: 70px;
}

/* Menu */

.nav-item {
    max-block-size: 100%;
    text-align: center;
    padding: 0 10px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-self: center;
}

.nav-link {
    font-size: 22px;    
}

.nav-link:hover {
    background-image: url(../img/logo-sans-texte.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Video Header */

.video-container {
    padding: 0;
}

.video-header {
    max-width: 100%;
}

/* Thématique */

.thematique {
    padding: 30px 0 0;
}

.thematique .description {
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
}

.bloc-container {
    padding: 0;
}

.bloc {
    padding: 40px;
    height: 640px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 0;
    background-position: center center;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .8);
}

.bloc:hover {
    transform: scale(1.05);
    z-index: 2;
    background-blend-mode: multiply;

}

.bloc h4 {
    font-size: 50px;
    text-align: center;
}

.bloc p {
    font-size: 20px;
}

.bloc-mer {
    background-image: url("../img/block-mer.jpg");
    background-color: #3c7bda;
}

.bloc-terre {
    background-image: url("../img/bloc-terre2.jpg");
    background-color: #2e9448;
}

.bloc-air {
    background-image: url("../img/bloc-air.jpg");
    background-color: #88e3f3;
}

.bloc-feu {
    background-image: url("../img/bloc-feu2.jpg");
    background-color: rgb(253, 83, 31);
}

/* Carte */

.carte h3 {
    padding: 50px 0;
    margin: 0;
}

.carte-container {
    padding: 100px;
    background-image: url("../img/just-waves.png");
}

.recherche-container {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow:  0 2px 15px rgba(79, 149, 240, 0.5);
}

/* Actualité */

.articles {
    padding: 0 0 120px 0;
}

.articles h3 {
    padding: 50px 0;
    margin: 0;
}

.btn {
    color: #ffffff
}

.btn-primary1 {
    background-color: rgb(99, 164, 238);
    : rgb(255, 255, 255);
}

.btn-primary2 {
    background-color: rgb(167, 40, 99);
}

.btn-primary3 {
    background-color: rgb(228, 181, 28);
}

.btn-primary4 {
    background-color: rgb(151, 151, 151);
}

/* Pied de page */

footer {
    background-color: #333333;
    color: #dadada;
    padding: 80px 0;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container img {
    margin-bottom: 15px;
}

footer .icon {
    font-size: 30px;
    color: #dadada;
    margin-right: 10px;
}


/*MEDIA QUERIES
----------------
@media handheld and (max-width: 768px), screen and (max-device-width: 768px), screen and (max-width: 768px) { 

body {
    margin: 0;
}
#mapcran {
    display: none;
}

#maptablette {
    display: block;
}

chercher media queries sur alsa cretions

++ / dans html <meta name"viewport" content="width=device-width, initial-scale=1.0,
                shrink-to-fit=no">
    */